<div id="addModuleApp">
    <h2 class="sub-header">新增模块</h2>
    <!-- 操作信息提示 -->
    <respmsg :resp-msg="respMsg"></respmsg>
    <!-- 新增表单 -->
    <form class="form-horizontal" method="POST">
			<button type="button" class="btn btn-primary" @click="add(null)">保存新增</button>
            <button type="button" class="btn btn-info" @click="addItem">增加列字段</button>
            <button type="button" class="btn btn-warning" @click="showHtml(listHtml)">取消返回</button>
        <h4>默认字段会自动创建，无须额外新增</h4>
        <div class="row">
            <div class="col-sm-10">
                <!-- Bean实体 -->
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>默认列名</th>
                            <th>默认类型</th>
                            <th>字段注释</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>int(10)</td>
                            <td>主键ID</td>
                        </tr>
                        <tr>
                            <td>operator_create</td>
                            <td>varchar(10)</td>
                            <td>创建者</td>
                        </tr>
                        <tr>
                            <td>datetime_create</td>
                            <td>timestamp</td>
                            <td>创建日期</td>
                        </tr>
                        <tr>
                            <td>operator_modify</td>
                            <td>varchar(10)</td>
                            <td>修改者</td>
                        </tr>
                        <tr>
                            <td>datetime_modify</td>
                            <td>timestamp</td>
                            <td>修改日期</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4>配置模块基本数据（表名自动创建为“模块前缀_模块名”）</h4>
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <div class="input-group-addon">模块前缀</div>
                    <input type="text" placeholder="全小写" class="form-control" v-model="entity.code">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <div class="input-group-addon">模块名</div>
                    <input type="text" placeholder="全小写,下划线间隔" class="form-control" v-model="entity.name">
                </div>
            </div>
        </div>
        <h4>配置数据表列数据</h4>
        <div class="row" v-for="(item,index) in entity.columns" style="margin-top: 10px">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">列名</div>
                    <input type="text" placeholder="全小写,下划线间隔" class="form-control" v-model="entity.columns[index].name">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <div class="input-group-addon">注释</div>
                    <input type="text" class="form-control" v-model="entity.columns[index].comment">
                </div>
            </div>
            <div class="col-sm-5">
                <label class="radio-inline">
                    <input type="radio" value="int" v-model="entity.columns[index].type"> int
                </label>
                <label class="radio-inline">
                    <input type="radio" value="varchar" v-model="entity.columns[index].type"> varchar
                </label>
                <label class="radio-inline">
                    <input type="radio" value="timestamp" v-model="entity.columns[index].type"> timestamp
                </label>
                <label class="radio-inline">
                    <input type="radio" value="decimal" v-model="entity.columns[index].type"> decimal
                </label>
                <label class="radio-inline">
                    <input type="radio" value="blob" v-model="entity.columns[index].type"> blob
                </label>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger" @click="removeItem(index)">删除</button>
            </div>
        </div>
        <hr/>
        <footer>
            <p>详注:</p>
            <p>1、<code>模块全名</code>应与<code>数据表</code>名一致,命名规范为<code>“前缀_名称”</code>,例如数据表名为“tb_user”,则模块全名也为“tb_user”,另外需要注意<code>名称部分</code>若是词组,需要以<code>下划线</code>间隔,例如用户详情表,全命名为“tb_user_detail”</p>
            <p>2、若数据表已存在,系统会根据数据表自动创建同名模块,模块路径位于<code>/background/module/</code>和<code>/foreground/module/</code>下</p>
            <p>3、此功能仅提供简单的数据库表创建,实际业务需求更为复杂的情况下,表字段的数据类型可自行使用其他数据库管理工具修改</p>
            <p>&copy; Cheney.Xu 2017</p>
        </footer>
    </form>
</div>
<script type="text/javascript">
$(function() {
    new VueBase({
        el: '#addModuleApp',
        data: {
            addUrl: '../../../../background/module/sys_module_manager/controller/AddModuleAction.php',

            listHtml: '../../../../foreground/module/sys_module_manager/module_manager.html',
            // 映射的后台模块名称
            bean: 'Module',
            entity: {
                columns: [{
                    name: 'code',
                    type: 'varchar',
                    comment: ''
                }, {
                    name: 'name',
                    type: 'varchar',
                    comment: ''
                }, {
                    name: '',
                    type: 'varchar',
                    comment: ''
                }]
            },
            // 返回信息
            respMsg: 'Y'
        },
        methods: {
            afterAdd: function() {
                var vm = this
                vm.showHtml(vm.listHtml)
            },
            addItem: function() {
                var vm = this
                vm.entity.columns.push({name: '',type: 'varchar',comment: ''})
            },
            removeItem: function(index) {
                var vm = this
                vm.entity.columns.splice(index, 1)
            }
        }
    });
});
</script>
