<div id="addPermissionApp">
	<h2 class="sub-header" style="margin-top:35px;">新增Permission</h2>
	<!-- 操作信息提示 -->
    <respmsg :resp-msg="respMsg"></respmsg>
	<!-- 新增表单 -->
	<form class="form-horizontal" method="POST">
		<div class="form-group">
			<div class="col-sm-1">
				<button type="button" class="btn btn-primary" @click="add(null)">保存</button>
			</div>
			<button type="button" class="btn btn-primary" @click="showHtml(listHtml)">取消</button>
		</div>
		<!-- Bean实体 -->
		<div class="form-group">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">权限编码</div>
				<input type="text" class="form-control" v-model="entity.code"/>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">权限名称</div>
				<input type="text" class="form-control" v-model="entity.name"/>
			</div>
		</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$(function() {
	new VueBase({
	    el: '#addPermissionApp',
	    data: {
	        addUrl: '../../../../background/module/tmp_permission/controller/AddPermissionAction.php',

	        listHtml: '../../../../foreground/module/tmp_permission/permission.html',
	        // 映射的后台模块名称
        	bean:'Permission',
	        entity: {},
            // 返回信息
        	respMsg: 'Y'
	    },
	    methods: {
            afterAdd: function(){
            	var vm = this
            	vm.showHtml(vm.listHtml)
            }
        }
	});
});
</script>
