<div id="updatePermissionApp">
	<h2 class="sub-header">编辑Permission</h2>
	<!-- 操作信息提示 -->
	<respmsg :resp-msg="respMsg"></respmsg>
	<!-- 新增表单 -->
	<form class="form-horizontal" method="POST">
		<div class="form-group">
			<div class="col-sm-1">
				<button type="button" class="btn btn-primary" @click="update(null)">更新</button>
			</div>
			<button type="button" class="btn btn-primary" @click="showHtml(listHtml)">取消</button>
		</div>
		<!-- Bean实体 -->
		<div class="form-group">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">权限编码</div>
				<input type="text" class="form-control" v-model="entity.code"/>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">权限名称</div>
				<input type="text" class="form-control" v-model="entity.name"/>
			</div>
		</div>
		</div>
	</form>
</div>

<script type="text/javascript">
$(function() {
	new VueBase({
	    el: '#updatePermissionApp',
	    data: {
	    	detailUrl: '../../../../background/module/tmp_permission/view/PermissionDetailView.php',
	        updateUrl: '../../../../background/module/tmp_permission/controller/UpdatePermissionAction.php',

	        listHtml: '../../../../foreground/module/tmp_permission/permission.html',

	        // 映射后台模块名称
	        bean:'Permission',
	        entity: {},
			// 返回信息
        	respMsg: ''
	    },
	    created(){
	    	this.queryLoad()
	    },
	    methods: {
	    	// 查询需要被更新的对象数据
	    	queryLoad: function() {
	            var vm = this
	            // 获取ID
	            var id = location.href.split('#')[1]
	            vm.$http.post(vm.detailUrl, {bean:vm.bean,id:id})
	                .then((sucResp) => {
	                	var respObj = vm.receiveData(sucResp)
                        if(vm.respMsg == 'Y'){
		                	// 绑定返回的实体对象
		                    vm.entity = respObj.result
	                	}
	                }, (errResp) => {
	                	vm.respMsg = errResp.data
	                });
	        },
            // 更新后置操作
            afterUpdate: function(){
            	var vm = this
            	vm.showHtml(vm.listHtml)
            }
	    }
	});
});
</script>

