<div id="adminApp">
	<h2 class="sub-header">帐号管理</h2>
	<!-- 操作提示 -->
	<respmsg :resp-msg="respMsg"></respmsg>
	<!-- 查询表单 -->
	<form class="form-horizontal" method="POST">
		<div class="form-group">
			<div class="col-sm-3">
				<div class="input-group">
					<div class="input-group-addon">帐号</div>
					<input type="text" class="form-control" v-model="query.account"/>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="input-group">
					<div class="input-group-addon">创建日期</div>
					<input type="text" class="form-control datetimepicker" v-model="query.datetimeCreate"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-1">
				<button type=button class="btn btn-default" @click="queryLoad">查询</button>
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">新增</button>
			<button type="button" class="btn btn-danger" @click="deleteByIds">删除</button>
		</div>
	</form>
	<!-- 展示列表 -->
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th><input type="checkbox" @click="checkAll"/></th>
				<th>帐号</th>
				<th>创建日期</th>
				<th>修改日期</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in entityList">
				<td scope="row"><input type="checkbox" :value="item.id" v-model="ids"/></td>
				<td>{{item.account}}</td>
				<td>{{item.datetime_create}}</td>
				<td>{{item.datetime_modify}}</td>
				<td><!-- <a href="#">详情</a> | --> <a href="#" @click="updateModal('addModal',item.id)">编辑</a></td>
			</tr>
		</tbody>
	</table>
	<!-- 分页控件 -->
	<query-page :api-url="queryUrl" :query="query" :query-load="queryLoad"></query-page>

	<!-- 新增帐号弹出窗口 -->
	<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="addModalLabel">新增帐号</h4>
					<!-- 操作提示 -->
					<respmsg :resp-msg="respMsg"></respmsg>
				</div>
				<div class="modal-body">
					<!-- 新增表单 -->
					<form class="form-horizontal" method="POST">
						<div class="form-group">
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-addon">帐号</div>
									<input type="text" class="form-control" maxlength="10" placeholder="10位字符内" v-model="entity.account"/>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-addon">密码</div>
									<input type="password" class="form-control" maxlength="16" placeholder="6至16位字符内" v-model="entity.password"/>
								</div>
							</div>
							<div class="col-sm-3">
								<select class="form-control" v-model="entity.roleIds">
									<option v-for="item in roleList" :value="item.id">{{item.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
						<!--
						<{*
							<{foreach item=item from=$roles}>
								<div class="col-sm-3">
									<div class="checkbox">
										<label><input type="checkbox" name="roles[]" value="<{$item->id}>"><{$item->role}></label>
									</div>
								</div>
							<{/foreach}>
						*}>
						 -->
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="addBtn" type="button" class="btn btn-primary" @click="add('addModal')">保存</button>
					<button id="updateBtn" style="display:none;" type="button" class="btn btn-primary" @click="update('addModal')">更新</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function() {
    Vue.http.options.emulateJSON = true;
    new VueBase({
        el: '#adminApp',
        data: {
            queryUrl: '../../../../background/module/sys_admin/view/AdminView.php',
            addUrl: '../../../../background/module/sys_admin/controller/AddAdminAction.php',
            updateUrl: '../../../../background/module/sys_admin/controller/UpdateAdminAction.php',
            deleteUrl: '../../../../background/module/sys_admin/controller/DeleteAdminAction.php',
            updateViewUrl:'../../../../background/module/sys_admin/view/UpdateAdminView.php',

            // 映射的后台模块名称
            bean:'Admin',
            // ID数组
            ids:[],
            // 查询条件
            query: {
                queryBegin: '0',
                queryCount: '10',
                pageCount: '0',
                account: '',
                datetimeCreate: ''
            },
            // 实体对象
            entity: {
                id: '',
                account: '',
                password: '',
                roles: {}
            },
            // 实体列表
            entityList: [],
            // 角色列表
            roleList:[],
            // 返回信息
            respMsg: ''
        },
        created() {
            this.queryLoad()
        },
        methods: {
        	afterQuery: function(resp) {
                var vm = this
                // 获取返回的角色列表
                vm.roleList = ($.parseJSON($.trim(resp.data))).roles
            }
        }
    });
});
</script>
