<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- 视图 -->
	<bean id="permissionView" class="background/module/tmp_permission/view/PermissionView.php" />
	<bean id="permissionDetailView" class="background/module/tmp_permission/view/PermissionDetailView.php" />
	
	<bean id="addPermissionView" class="background/module/tmp_permission/view/AddPermissionView.php" />
	<bean id="updatePermissionView" class="background/module/tmp_permission/view/UpdatePermissionView.php" />
	
	<!-- 模块功能 -->
	<bean id="addPermissionAction" class="background/module/tmp_permission/controller/AddPermissionAction.php" />
	<bean id="deletePermissionAction" class="background/module/tmp_permission/controller/DeletePermissionAction.php" />
	<bean id="updatePermissionAction" class="background/module/tmp_permission/controller/UpdatePermissionAction.php" />
	
	<bean id="permissionService" class="background/module/tmp_permission/service/PermissionService.php" />
	<bean id="permissionValidate" class="background/module/tmp_permission/validate/PermissionValidate.php" />
	<bean id="permissionDao" class="background/module/tmp_permission/dao/PermissionDao.php" />
	
	<!-- 框架工具 -->
	<bean id="struts" class="background/frame/struts/Struts.php" />
	<bean id="validate" class="background/frame/security/Validate.php" />
	<bean id="pDOUtil" class="background/frame/dao/pdo/PDOUtil.php" />
	<bean id="smartyUtil" class="background/frame/smarty/SmartyUtil.php" />
	<bean id="myBatis" class="background/frame/mybatis/MyBatis.php" />
</beans>
