<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- 视图 -->
	<bean id="roleView" class="background/module/sys_role/view/RoleView.php" />
	<bean id="roleDetailView" class="background/module/sys_role/view/RoleDetailView.php" />
	
	<bean id="addRoleView" class="background/module/sys_role/view/AddRoleView.php" />
	<bean id="updateRoleView" class="background/module/sys_role/view/UpdateRoleView.php" />
	
	<!-- 模块功能 -->
	<bean id="addRoleAction" class="background/module/sys_role/controller/AddRoleAction.php" />
	<bean id="deleteRoleAction" class="background/module/sys_role/controller/DeleteRoleAction.php" />
	<bean id="updateRoleAction" class="background/module/sys_role/controller/UpdateRoleAction.php" />
	
	<bean id="roleService" class="background/module/sys_role/service/RoleService.php" />
	<bean id="roleValidate" class="background/module/sys_role/validate/RoleValidate.php" />
	<bean id="roleDao" class="background/module/sys_role/dao/RoleDao.php" />
	
	<!-- 框架工具 -->
	<bean id="struts" class="background/frame/struts/Struts.php" />
	<bean id="validate" class="background/frame/security/Validate.php" />
	<bean id="pDOUtil" class="background/frame/dao/pdo/PDOUtil.php" />
	<bean id="smartyUtil" class="background/frame/smarty/SmartyUtil.php" />
	<bean id="myBatis" class="background/frame/mybatis/MyBatis.php" />
</beans>
