<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- 视图 -->
	<bean id="_exampleView" class="background/module/__example/view/_ExampleView.php" />
	<bean id="_exampleDetailView" class="background/module/__example/view/_ExampleDetailView.php" />
	
	<bean id="add_ExampleView" class="background/module/__example/view/Add_ExampleView.php" />
	<bean id="update_ExampleView" class="background/module/__example/view/Update_ExampleView.php" />
	
	<!-- 模块功能 -->
	<bean id="add_ExampleAction" class="background/module/__example/controller/Add_ExampleAction.php" />
	<bean id="delete_ExampleAction" class="background/module/__example/controller/Delete_ExampleAction.php" />
	<bean id="update_ExampleAction" class="background/module/__example/controller/Update_ExampleAction.php" />
	
	<bean id="_exampleService" class="background/module/__example/service/_ExampleService.php" />
	<bean id="_exampleValidate" class="background/module/__example/validate/_ExampleValidate.php" />
	<bean id="_exampleDao" class="background/module/__example/dao/_ExampleDao.php" />
	
	<!-- 框架工具 -->
	<bean id="struts" class="background/frame/struts/Struts.php" />
	<bean id="validate" class="background/frame/security/Validate.php" />
	<bean id="pDOUtil" class="background/frame/dao/pdo/PDOUtil.php" />
	<bean id="smartyUtil" class="background/frame/smarty/SmartyUtil.php" />
	<bean id="myBatis" class="background/frame/mybatis/MyBatis.php" />
</beans>
