<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- 视图：模块管理 -->
	<bean id="moduleWelcomeView" class="background/module/sys_module_manager/view/ModuleWelcomeView.php" />
	<!-- 视图：系统管理 -->
	<bean id="systemWelcomeView" class="background/module/sys_module_manager/view/SystemWelcomeView.php" />
	<!-- 视图 -->
	<bean id="moduleManagerView" class="background/module/sys_module_manager/view/ModuleManagerView.php" />
	<!-- 模块功能 -->
	<bean id="addModuleAction" class="background/module/sys_module_manager/controller/AddModuleAction.php" />
	<bean id="deleteModuleAction" class="background/module/sys_module_manager/controller/DeleteModuleAction.php" />
	<bean id="moduleManagerService" class="background/module/sys_module_manager/service/ModuleManagerService.php" />
	<bean id="moduleManagerValidate" class="background/module/sys_module_manager/validate/ModuleManagerValidate.php" />
	<bean id="moduleManagerDao" class="background/module/sys_module_manager/dao/ModuleManagerDao.php" />
	
	<!-- 框架工具 -->
	<bean id="struts" class="background/frame/struts/Struts.php" />
	<bean id="validate" class="background/frame/security/Validate.php" />
	<bean id="pDOUtil" class="background/frame/dao/pdo/PDOUtil.php" />
	<bean id="smartyUtil" class="background/frame/smarty/SmartyUtil.php" />
	<bean id="myBatis" class="background/frame/mybatis/MyBatis.php" />
	
	<bean id="tableToEntity" class="background/frame/util/TableToEntity.php" />
</beans>
